@font-face {
  src:
    url("../fonts/YesevaOneRegular.woff2"),
    url("../fonts/YesevaOneRegular.woff");
  font-family: "Yeseva One";
  font-weight: 400;
}

@font-face {
  src:
    url("../fonts/ComfortaaRegular.woff2"),
    url("../fonts/ComfortaaRegular.woff");
  font-family: Comfortaa;
  font-weight: 400;
}

@font-face {
  src:
    url("../fonts/ComfortaaSemiBold.woff2"),
    url("../fonts/ComfortaaSemiBold.woff");
  font-family: Comfortaa;
  font-weight: 600;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: Comfortaa, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.site-container {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.section {
  padding-bottom: 150px;
}

.section--decor {
  position: relative;
}

.section--decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../img/section-decor.png");
  width: 22px;
  height: 30px;
}

.section--decor::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 9px;
  background-color: #7b6152;
  width: 1000%;
  height: 1px;
}

.title {
  font-size: 40px;
  font-family: "Yeseva One", serif;
  margin-bottom: 15px;
  font-weight: 400;
}

.btn {
  padding: 18px 45px;
  background-color: #ffbd59;
  color: #272727;
  font-weight: 600;
  font-family: Comfortaa, sans-serif;
  font-size: 14px;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span {
  height: 1px;
  background-color: #7b6152;
  width: 100%;
}

.header {
  background-color: #fff8f3;
}

.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}

.phone::before {
  content: "";
  position: absolute;
  background-image: url("../img/phone.svg");
  width: 20px;
  height: 20px;
  left: -23px;
  top: -3px;
}

.main {
  background-color: #fff8f3;
}

.top {
  padding: 40px 0 150px;
}

.top__inner {
  position: relative;
}

.top__content {
  width: 370px;
  padding: 150px 0 250px;
}

.top__title {
  font-size: 30px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  margin-bottom: 15px;
}

.top__text {
  margin-bottom: 48px;
}

.top__btn {
  padding: 18px 45px;
  background-color: #ffbd59;
  color: #272727;
  font-weight: 600;
  font-family: Comfortaa, sans-serif;
  font-size: 14px;
}

.top__picture {
  position: absolute;
  top: 0;
  left: 240px;
}

.about {
  background-color: #a5978e;
  color: #fafafa;
  padding: 50px 0;
  margin-bottom: 150px;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__content {
  min-width: 370px;
}

.about__content p+p {
  margin-top: 15px;
}

.about__list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 110px;
  padding-bottom: 60px;
}

.about__item-img {
  margin-bottom: 10px;
}

.about__item-text {
  font-size: 11px;
}

.section__inner {
  display: grid;
  grid-template-columns: 370px auto;
}

.products__content {
  gap: 50px 90px;
}

.section__content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding-left: 20px;
  padding-bottom: 80px;
}

.products__item {
  width: 290px;
  text-align: center;
}

.products__img {
  margin-bottom: 8px;
}

.products__price {
  margin-bottom: 12px;
  font-family: "Yeseva One", serif;
  font-size: 16px;
  font-weight: 400;
}

.products__item-title {
  margin-bottom: 16px;
  font-family: "Yeseva One", serif;
  font-size: 16px;
  font-weight: 400;
}

.products__item-text {
  margin-bottom: 27px;
  font-size: 12px;
}

.steps__list {
  gap: 70px 25px;
  counter-reset: number;
}

.steps__item {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;
}

.steps__item::before {
  counter-increment: number;
  content: "0" counter(number);
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Yeseva One", serif;
  font-size: 30px;
  color: #bea495;
}

.steps__item:nth-child(n+10):before {
  content: counter(number);
}

.steps__item.steps__item--even::before {
  left: auto;
  right: 15px;
}

.steps__item-text {
  flex-basis: 174px;
  padding-bottom: 40px;
}

.courses__content {
  gap: 127px;
}

.courses__item {
  width: 268px;
  text-align: center;
}

.courses__box {
  margin-bottom: 28px;
  position: relative;
  color: #fff;
  font-size: 11px;
  font-family: "Yeseva One", serif;
}

.courses__box-title,
.courses__box-time,
.courses__box-price {
  background-color: #bea495;
  position: absolute;
}

.courses__box-title {
  padding: 15px 10px;
  left: -1px;
  top: 45%;
}

.courses__box-time {
  padding: 8px 10px;
  left: -1px;
  top: 61%;
}

.courses__box-time span {
  font-size: 10px;
  font-family: Comfortaa, sans-serif;
}

.courses__box-price {
  padding: 18px 10px;
  bottom: -13px;
  right: -13px;
}

.courses__item-title {
  margin-bottom: 15px;
  font-family: "Yeseva One", serif;
  font-size: 16px;
  font-weight: 400;
}

.courses__item-text {
  margin-bottom: 23px;
}

.courses__btn {
  padding: 13px 16px;
}

.team {
  background-color: #a5978e;
  padding: 50px 0;
  color: #fff;
  margin-bottom: 150px;
}

.team__content {
  padding: 0;
  gap: 78px 178px;
}

.team__item {
  position: relative;
}

.team__box {
  background-color: #7b6152;
  text-align: center;
  position: absolute;
  padding: 15px 10px;
  width: 165px;
  bottom: 12px;
  right: -100px;
}

.team__item-name {
  font-size: 12px;
  font-family: "Yeseva One", serif;
  margin-bottom: 2px;
}

.team__item-descr {
  font-size: 10px;
}

.footer__inner {
  padding-top: 40px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 230px;
}

.footer__social {
  display: flex;
  gap: 15px;
}

@media (max-width: 1060px) {
  .steps__list {
    gap: 37px 35px;
  }

  .steps__item {
    gap: 30px;
  }

  .steps__item-text {
    flex-basis: 140px;
  }

  .steps__img {
    width: 128px;
    height: 225px;
    object-fit: cover;
  }
}

@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .top__content {
    width: 333px;
    padding: 90px 0;
  }

  .top__text {
    margin-bottom: 30px;
  }

  .top__picture {
    left: 333px;
  }

  .top__img {
    width: 655px;
  }

  .about__content {
    min-width: 300px;
  }

  .about__list {
    padding-left: 20px;
  }

  .section__inner {
    grid-template-columns: 300px auto;
  }

  .products__text {
    font-size: 10px;
  }

  .products__content {
    gap: 65px;
  }

  .section__content {
    padding-left: 10px;
    margin-left: 15px;
  }

  .courses__content {
    gap: 78px;
  }

  .team__content {
    gap: 30px 120px;
    padding: 0;
    margin: 0;
    justify-content: start;
  }
}

@media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }

  .footer__social {
    justify-content: center;
  }

  .section__inner {
    grid-template-columns: 200px auto;
  }

  .products__content {
    gap: 30px 15px;
  }

  .steps__list {
    gap: 25px 35px;
  }

  .steps__item {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .container {
    max-width: 640px;
  }

  .phone::before {
    background-size: cover;
    width: 14px;
    height: 14px;
    left: -16px;
  }

  .top__content {
    width: 230px;
    padding: 100px 0 125px;
  }

  .top__title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .top__text {
    margin-bottom: 20px;
  }

  .top__btn {
    padding: 14px 30px;
  }

  .top__picture {
    left: 190px;
  }

  .about {
    padding-bottom: 80px;
  }

  .about__content {
    min-width: 200px;
  }

  .title {
    font-size: 15px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__list {
    margin-left: 30px;
    padding-bottom: 30px;
    gap: 10px;
  }

  .about__item-img {
    margin-bottom: 5px;
  }

  .about__item-img--1,
  .about__item-img--3 {
    width: 120px;
  }

  .about__item-img--2 {
    width: 190px;
  }

  .about__item-text {
    font-size: 6px;
  }

  .footer__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__contacts {
    gap: 10px;
  }

  .footer__social {
    gap: 8px;
  }

  .footer__img {
    width: 18px;
    height: 18px;
  }

  .section__content {
    padding-left: 0;
    padding-bottom: 60px;
    margin-left: 0;
  }

  .products__item {
    width: 200px;
  }

  .products__img {
    width: 188px;
    margin-bottom: 5px;
  }

  .products__price {
    margin-bottom: 7px;
    font-size: 12px;
  }

  .products__item-title {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .products__item-text {
    margin-bottom: 19px;
    font-size: 8px;
  }

  .btn {
    font-size: 12px;
    padding: 12px 26px;
  }

  .steps__item::before {
    font-size: 20px;
  }

  .steps__item-text {
    flex-basis: 93px;
    font-size: 8px;
    padding-bottom: 30px;
  }

  .steps__img {
    width: 85px;
    height: 150px;
  }

  .courses__content {
    gap: 40px;
  }

  .courses__item,
  .courses__img {
    width: 185px;
  }

  .courses__box {
    font-size: 8px;
    margin-bottom: 20px;
  }

  .courses__box-title {
    padding: 11px 5px;
  }

  .courses__box-time {
    padding: 6px 6px;
  }

  .courses__box-time span {
    font-size: 7px;
  }

  .courses__box-price {
    padding: 12px 7px;
    right: -8px;
    bottom: -6px;
  }

  .courses__item-title {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .courses__item-text {
    margin-bottom: 10px;
  }

  .courses__btn {
    padding: 13px 16px;
  }

  .team__content {
    gap: 30px 80px;
    padding: 0;
  }

  .team__box {
    width: 106px;
    bottom: 9px;
    right: -67px;
    padding: 10px 6px;
  }

  .team__img {
    width: 142px;
  }

  .team__item-name {
    font-size: 8px;
  }

  .team__item-descr {
    font-size: 6px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__menu {
    order: 1;
  }

  .header__list {
    width: 153px;
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    padding: 25px 45px;
    position: absolute;
    top: 77px;
    right: 0;
    transform: translateX(100%);
    transition: transform .5s ease;
    z-index: 10;
  }

  .header__list.menu--open {
    transform: translateX(0%);
  }

  .menu__btn {
    display: flex;
    margin-right: 7px;
  }

  .section__inner {
    display: block;
  }

  .section__descr {
    text-align: center;
    margin-bottom: 30px;
  }

  .steps__item {
    width: 200px;
  }

  .team__content {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .footer__inner {
    flex-direction: column;
    gap: 50px;
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__list {
    flex-direction: column;
    text-align: center;
    gap: 22px;
  }

  .footer__contacts {
    padding-top: 0;
    gap: 15px;
  }

  .footer__social {
    gap: 15px;
  }

  .footer__img {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 480px) {
  .top {
    padding: 30px 0 50px;
  }

  .top__content {
    width: 180px;
    padding: 80px 0;
  }

  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .top__text {
    margin-bottom: 15px;
    font-size: 8px;
  }

  .top__btn {
    font-size: 10px;
    padding: 11px 23px;
  }

  .top__picture {
    left: 167px;
  }

  .top__img {
    width: 309px;
  }

  .about {
    padding-bottom: 45px;
    margin-bottom: 50px;
  }

  .about__inner {
    align-items: flex-end;
  }

  .about__content {
    min-width: 170px;
    margin-bottom: 6px;
  }

  .about__list {
    margin-left: 5px;
    gap: 5px;
    padding-bottom: 60px;
    padding-left: 15px;
    align-items: flex-end;
  }

  .about__item-img--1,
  .about__item-img--3 {
    width: 80px;
  }

  .about__item-img--2 {
    width: 140px;
  }

  .about__item-text {
    display: none;
  }

  .section {
    padding-bottom: 50px;
  }

  .section__descr {
    width: 300px;
    margin: 0 auto 30px;
  }

  .steps__list {
    gap: 25px 40px;
  }

  .steps__item {
    width: auto;
  }

  .team__content {
    gap: 30px 100px;
  }

  .team__content {
    justify-content: start;
  }
}

@media (max-width: 400px) {
  .steps__list {
    gap: 20px 25px;
  }

  .steps__item {
    gap: 15px;
  }

  .steps__img {
    width: 66px;
    height: 100px;
  }

  .team__content {
    grid-template-columns: auto;
    padding-left: 20px;
    gap: 20px;
  }

  .team__img {
    width: 204px;
  }

  .team__box {
    width: 152px;
    bottom: 11px;
    right: -95px;
    padding: 15px 9px;
  }

  .team__item-name {
    font-size: 12px;
  }
  
  .team__item-descr {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 8px;
  }

  .header__inner {
    font-size: 10px;
  }

  .top__content {
    width: 200px;
    padding: 20px 0 0;
    position: relative;
    z-index: 1;
  }

  .top__title {
    font-size: 18px;
  }

  .top__text {
    font-size: 10px;
  }

  .top__picture {
    top: -25px;
    left: auto;
    right: -20px;
  }

  .top__img {
    width: 180px;
  }

  .about {
    padding: 25px 0 10px;
  }

  .about__content {
    min-width: 230px;
    margin-bottom: 30px;
  }

  .title {
    margin-bottom: 10px;
  }

  .about__content p+p {
    margin-top: 10px;
  }

  .about__list {
    margin-left: 15px;
    padding-left: 10px;
    padding-bottom: 40px;
    gap: 0;
  }

  .about__item-img {
    margin-bottom: 0;
  }

  .about__item-img--2,
  .about__item-img--3 {
    display: none;
  }

  .section__descr {
    width: 205px;
    margin-bottom: 25px;
  }

  .section__text {
    font-size: 8px;
  }

  .products__content {
    gap: 40px 7px;
  }

  .products__item {
    width: 150px;
  }

  .products__img {
    width: 141px;
  }

  .products__price {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .products__item-title {
    font-size: 10px;
    margin-bottom: 7px;
  }

  .products__item-text {
    font-size: 6px;
    margin-bottom: 16px;
  }

  .btn {
    font-size: 8px;
    padding: 11px 21px;
  }

  .steps__item::before {
    font-size: 12px;
  }

  .steps__item-text {
    font-size: 6px;
    padding-bottom: 20px;
  }

  .courses__text {
    font-size: 10px;
  }

  .courses__content {
    grid-template-columns: auto;
    gap: 30px;
  }

  .courses__item,
  .courses__img {
    width: 243px;
  }

  .courses__box {
    font-size: 10px;
    margin-bottom: 30px;
  }

  .courses__box-title {
    padding: 14px 8px;
  }

  .courses__box-time {
    padding: 8px;
  }

  .courses__box-price {
    padding: 16px 8px;
    right: -12px;
    bottom: -10px;
  }

  .courses__item-title {
    margin-bottom: 10px;
  }

  .courses__item-text {
    font-size: 10px;
    margin-bottom: 26px;
  }

  .courses__btn {
    font-size: 12px;
  }
}